/* ForgotPassword2.css */
.forgot-password2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background-color: white;
    padding-top: 40px;
}

.forgot-password2-content {
    width: 100%;
    max-width: 500px;
    padding: 0 24px;
    text-align: center;
}

.forgot-password2-title {
    font-size: 32px;
    font-weight: bold;
    color: #1e3a5a;
    margin-bottom: 16px;
}

.forgot-password2-description {
    color: #5b7083;
    font-size: 18px;
    margin-bottom: 24px;
}

.telegram-button {
    background-color: #70cc96;
    color: white;
    padding: 12px 40px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-bottom: 32px;
    transition: background-color 0.3s;
}

.telegram-button:hover {
    background-color: #5eb683;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.bot-image {
    width: 192px;
    height: auto;
    object-fit: contain;
}

.next-button {
    background-color: #1e3a5a;
    color: white;
    padding: 12px 56px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.2s;
    margin: 0 0 50px;
}

.next-button:hover {
    background-color: #152c45;
}

.next-button:active {
    transform: scale(0.95);
}


/* ForgotPassword2.css */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.back-button-righting {
    background: white;
    border: 2px solid #1e3a5a;
    color: #1e3a5a;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 8px;
    transition: all 0.2s;
    min-width: 100px;
    margin-bottom: 50px;
}

.back-button-righting:hover {
    background-color: #1e3a5a;
    color: white;
}

@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
        gap: 10px;
    }

    .back-button-right {
        width: 100%;
        max-width: 180px;
    }
}